body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

ul li{
  display: list-item;
  background: white;
  padding: 10px 25px;
  list-style-position: inside;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}